//footer
$color-footer-bg: #294E98B8;

//addbutton
$color-add-button:#204080;

//form inputs colors
$color-add-button-hover:#4F75C2;
$color-input-error-label:#FF0000B2;
$color-input-error-border:#FF0000;
$color-input-error-text:#FF000080;
$color-input-default-label:#686868;
$color-input-default-placeholder:#64646480;
$color-input-default-border:#484848;
$color-input-default-hover:#48484899;
$color-add-button-disabled:#64646480;