@use '../../globals/_variables' as *;
.search-bar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
   input{
    background: #FFFFFF;
border: 2px solid $color-input-default-border;
border-radius: 8px;
padding: 1rem;
width: 50%;
   }
}